.machine {
    height: 100%;
}

.message-box {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 2rem;
    font-size: medium;
    background-color: black;
}

.temporary-test {
    display: flex;
    justify-content: space-between;
}

.biscuit-item {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.biscuit-item.stamped {
    width: 16px;
    height: 6px;
    margin-top: .4rem;
}

.biscuit {
    position: absolute;
    z-index: -1;
}

.biscuit.extruder {
    top: 7rem;
    left: 21.2rem;
}

.biscuit.spitted {
    top: 14.4rem;
    left: 21.2rem;
    transition: all 2s;
}

.biscuit.stamper {
    top: 14.4rem;
    left: 35.5rem;
    transition: all 2s;
}

.biscuit.oven {
    top: 14.4rem;
    left: 60.5rem;
    transition: all 2s;
}

.no-biscuit {
    display: none;
}

.lane {
    width: 100%;
    height: .5rem;
    background-color: black;
}